{% extends 'base.html.twig' %}
{% block body %}
    <section class="section section-index py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-8 mx-auto">
                    {{ form(form) }}
                    <ul class="list-group">
                        {% for task in tasks %}
                            <li class="list-group-item border-0 mb-3 {{ (task.complete) ? 'bg-light' : 'bg-dark' }}">
                                <div class="row">
                                    <div class="col-8">
                                        <h2 class="{{ (task.complete) ? '' : 'text-white' }}">{{ task.name }}</h2>
                                        <small class="{{ (task.complete) ? '' : 'text-white' }}">{{ task.description }}</small>
                                    </div>
                                    <div class="col-4 text-end">
                                        {% if task.complete == false %}
                                            <a class="btn btn-primary" href="/tasks/complete/{{ task.id }}">Complete</a>
                                        {% endif %}
                                        <a class="btn btn-secondary" href="/tasks/remove/{{ task.id }}">Delete</a>
                                        <a class="btn btn-primary" href="/tasks/edit/{{ task.id }}">Edit</a>
                                    </div>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
